<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, class: "width-70p", rows: "5" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :question_id, value: this_question.id %>
  </div>

  <div class="actions">
    <%= form.submit "Add comment", class: 'btn btn-success' %>
  </div>
<% end %>
